<div class="row">
  <div class="col-md-12">
    <img src={{recipe.imgPath}} alt={{recipe.name}} style="max-height: 300px;" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" appDropdown>
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe List</a></li>
      </ul>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    {{recipe.desc}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
